@model Agri_Energy.Models.LoginViewModel

@{
    var errorMessage = TempData["ErrorMessage"] as string;
}
@if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}
<h2>Login</h2>

<form asp-action="Index" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div class="input-group">
            <input asp-for="Password" type="password" class="form-control" id="password" />
            <button type="button" class="btn btn-outline-secondary" onclick="toggleVisibility('password')"><i class="bi bi-eye"></i></button>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

@section Scripts {
    <script>function toggleVisibility(id) {
            var input = document.getElementById(id);
            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        }</script>
}

<style>
    .input-group button {
        height: 48px !important;
        border: 1px solid lightgrey !important;
        border-radius: 0px !important;
    }
</style>